.DS_Store
logs/
coffeeshop.duckdb
git remote set-url origin git@github.com:PranavKalwadBuild/dbt-duckdb.git

# Python virtual environment
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/

# Delta Lake and Spark
delta_lake/
spark-warehouse/
metastore_db/
derby.log

# Jupyter Notebook
.ipynb_checkpoints

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db